body {
    margin: 0;
    font-family: verdana;
}

.App-header {
    background-color: #222;
    padding: 10px;
    color: white;
    margin-bottom: 10px;
}

.App-title {
    font-size: 44px;
    text-align: center;
    /* animation: App-logo-spin infinite 20s linear; */
}

.App-intro {
    font-size: large;
}

.score{
    width: 500px;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
}

.score > *{
    width:50%;
}

/* @keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} */

.content {
    width: 960px;
    margin: 0 auto;
}

.content h2 {
    font-size: 27px;
    text-align: center;
    margin: 22px 0;
}

.content h2 span {
    background: #f14e4e;
    border-radius: 5px;
    padding: 10px;
    color: #ffffff;
    display: inline-block;
}

.wrapper {
    margin: 0 auto;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.brick {
    margin-bottom: 10px;
    height: 160px;
    width: 160px;
    border-radius: 10px;
    background: #f5c21a;
    display: flex;
    align-items: center;
    font-size: 72px;
    justify-content: center;
    cursor: pointer;
}

.brick.show span{
    display: block;
}

.brick.hide span{
    display: none;
}

/* .show{ display: flex; } */

/* .hide{ display: none; } */

.brick:hover {
    background: #fccf3a;
    box-shadow: 1px 2px 5px #cccccc;
}

.brick:active {
    background: #e0af0d;
}

.show>span {
    display: flex;
}

.hide>span {
    display: none;
}